* {
    margin: 0px;
    padding: 0px;
    font-family: 'League Spartan', sans-serif;
}

body {
    width: 100vw;
    background-color: #3a4663;
    overflow-x: hidden;
}

.main-div {
    width: 327px;
    margin: 30px auto ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.p-calc {
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    color: white;
}

.div-theme {
    display: flex;
    align-items: flex-end;
    gap: 26px;
}

.p-theme {
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.number-theme {
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: white;
    letter-spacing: 18px;
    margin-left: 9px;
}

.div-change-theme {
    width: 71px;
    height: 26px;
    border-radius: 13px;
    background-color: #242D44;
    margin-top: 5px;
    display: flex;
    
}

.circle-1 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #D03F2F;
    margin: 5px;
    cursor: pointer;
}

.circle-2 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #242D44;
    margin: 5px;
    cursor: pointer;
}

.circle-3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #242D44;
    margin: 5px;
    cursor: pointer;
}

.div-result {
    width: 303px;
    height: 35px;
    padding: 29px 24px 22px 0px;
    margin: 32px auto 0px;
    background-color: #181F33;
    border-radius: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 39px;
    letter-spacing: -0.67px;
    text-align: right;
    color: white;
    overflow-x: auto;
    overflow-y: hidden;
}

.div-result::-webkit-scrollbar {
    height: 8px;
  }
.div-result::-webkit-scrollbar-track {
    background-color: #181F33;
    border-radius: 10px;
  }
.div-result::-webkit-scrollbar-thumb {
    background-color: #647198;
    border-radius: 10px;
  }


.div-all-buttons {
    width: 279px;
    margin: 24px auto 0px;
    padding: 24px;
    background-color: #181F33;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    border-radius: 10px;
}

.butt-numbers {
    width: 60px;
    height: 60px;
    background-color: #EAE3DC;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px -4px 0px #B3A497;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    color: #434A59;
    cursor: pointer;
}

.butt-numbers:hover {
    opacity: 0.7;
}

.butt-del {
    width: 60px;
    height: 60px;
    background-color: #647198;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px -4px 0px #414E73;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    cursor: pointer;
}

.butt-del:hover {
    opacity: 0.7;
}

.butt-reset {
    width: 133px;
    height: 60px;
    background-color: #647198;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px -4px 0px #414E73;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    cursor: pointer;
}

.butt-reset:hover {
    opacity: 0.7;
}

.butt-equal {
    width: 133px;
    height: 60px;
    background-color: #D03F2F;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px -4px 0px #93261A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    cursor: pointer;
}

.butt-equal:hover {
    opacity: 0.7;
}


@media screen and (min-width: 1440px) {
    .main-div {
        width: 540px;
        margin: 50px auto;
    }

    .div-result {
        width: 508px;
        height: 52px;
        padding: 40px 32px 36px 0px;
        margin: 39px auto 0px;
        font-size: 56px;
        line-height: 51px;
        letter-spacing: -0.93px;
    }

    .div-all-buttons {
        width: 480px;
        margin: 24px auto 0px;
        padding: 30px;
        gap: 24px;
    }

    .butt-numbers {
        width: 101px;
        height: 64px;
        font-size: 40px;
        line-height: 37px;
        border-radius: 10px;
    }

    .butt-del {
        width: 101px;
        height: 64px;
        border-radius: 10px;
        font-size: 28px;
        line-height: 26px;
    }

    .butt-del:hover {
        background-color: #A2B2E1;
    }

    .butt-reset {
        width: 227px;
        height: 64px;
        border-radius: 10px;
        font-size: 28px;
        line-height: 26px;
    }

    .butt-reset:hover {
        background-color: #A2B2E1;
    }

    .butt-equal {
        width: 227px;
        height: 64px;
        border-radius: 10px;
        font-size: 28px;
        line-height: 26px;
    }

    .butt-equal:hover {
        background-color: #F96B5B;
    }
}